@font-face {
  font-family: "aries"; /* Project id 3512157 */
  src: url('iconfont.eot?t=1657439861557'); /* IE9 */
  src: url('iconfont.eot?t=1657439861557#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('iconfont.woff2?t=1657439861557') format('woff2'),
       url('iconfont.woff?t=1657439861557') format('woff'),
       url('iconfont.ttf?t=1657439861557') format('truetype'),
       url('iconfont.svg?t=1657439861557#aries') format('svg');
}

.aries {
  font-family: "aries" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e659";
}

.icon-arrow-right:before {
  content: "\e65b";
}

