@use "sass:map";
@use "mixins/mixins" as *;
@use "common/var" as *;
@use "mixins/var" as *;
@use "mixins/utils" as *;
@include b(carousel) {
    background-color: rgb(213, 247, 247);
    @include m(horizontal) {
        overflow-x: hidden;
    }
    @include m(vertical) {
        overflow-y: hidden;
    }

    @include e(scroll) {
        width: 100%;
        height: 100%;
        position: relative;
    }

    @include e(container) {
        width: 100%;
        height: 200px;
        position: relative;
        display: flex;
    }

    @include e(arrow) {
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        position: absolute;
        top: 50%;
        z-index: calc(getCssVar("index", "normal") + 1);
        transform: translateY(-50%);
        height: getCssVar("carousel", "arrow-size");
        width: getCssVar("carousel", "arrow-size");

        border-radius: 50%;
        cursor: pointer;
        transition: getCssVar("transition", "duration");
        background-color: getCssVar("carousel", "arrow-background");

        @include flex-center();
        &:hover {
            background-color: getCssVar("carousel", "arrow-hover-background");
        }

        @include m(left) {
            left: 16px;
        }

        @include m(right) {
            right: 16px;
        }
    }
}

@include b(carousel-indicators) {
    position: absolute;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: calc(#{getCssVar("index-normal")} + 1);

    @include m(horizontal) {
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    @include m(vertical) {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }

    @include m(outside) {
        bottom: calc(getCssVar("carousel-indicator-height") + getCssVar("carousel-indicator-padding-vertical") * 2);
        text-align: center;
        position: static;
        transform: none;

        &-circle {
            bottom: calc(
                getCssVar("carousel-indicator-circle-radius") + getCssVar("carousel-indicator-padding-vertical") * 2
            );
        }
        button {
            background-color: getCssVar("carousel", "indicator-out-color");
            opacity: 0.24;
        }
    }
    @include e(indicator) {
        // border-radius: 100%;
        cursor: pointer;
        display: inline-block;

        // background-color: #b3b3b3;
        // opacity: 0.3;
        // transition: opacity 0.2s, background-color 0.2s;

        &:not(:last-child) {
            margin-right: 6px;
        }

        @include m(circle) {
            overflow: hidden;
            padding: getCssVar("carousel-indicator-padding-vertical") getCssVar("carousel-indicator-padding-horizontal");
            button {
                width: getCssVar("carousel-indicator-circle-radius");
                height: getCssVar("carousel-indicator-circle-radius");
                border-radius: 50%;
            }
        }

        @include m(horizontal) {
            display: inline-block;
            padding: getCssVar("carousel-indicator-padding-vertical") getCssVar("carousel-indicator-padding-horizontal");
        }

        @include m(vertical) {
            padding: getCssVar("carousel-indicator-padding-horizontal") getCssVar("carousel-indicator-padding-vertical");
            button {
                width: getCssVar("carousel-indicator-height");
                height: calc(#{getCssVar("carousel-indicator-width")} / 2);
            }
        }

        @include when(indicator-active) {
            button {
                opacity: 1;
            }
        }
    }

    @include e(button) {
        display: block;
        opacity: 0.48;
        width: getCssVar("carousel-indicator-width");
        height: getCssVar("carousel-indicator-height");
        background-color: $color-white;
        border: none;
        outline: none;
        padding: 0;
        margin: 0;
        cursor: pointer;
        transition: getCssVar("transition-duration");
    }
}

@include b(carousel-item) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    overflow: hidden;
    z-index: calc(getCssVar("index", "normal") - 1);

    @include when(active) {
        z-index: calc(getCssVar("index", "normal") - 1);
    }

    @include when(animating) {
        transition: transform 0.4s ease-in-out;
    }

    @include m(card) {
        width: 50%;
        transition: transform 0.4s ease-in-out;
        &.is-in-stage {
            cursor: pointer;
            z-index: getCssVar("index", "normal");
            &:hover .#{$namespace}-carousel__mask,
            &.is-hover .#{$namespace}-carousel__mask {
                opacity: 0.12;
            }
        }
        &.is-active {
            z-index: calc(getCssVar("index", "normal") + 1);
        }
    }

    @include m(showcase){
    }
}

.carousel-arrow-left-enter-from,
.carousel-arrow-left-leave-active {
    transform: translateY(-50%) translateX(-10px);
    opacity: 0;
}

.carousel-arrow-right-enter-from,
.carousel-arrow-right-leave-active {
    transform: translateY(-50%) translateX(10px);
    opacity: 0;
}
